body {
    margin:0;
    padding: 0;
    margin: 0;
    background-color: azure;    
}

h2 {
    text-align: center;
    
}

h3 {
    text-align: center;
}

canvas {
    display: none;
}

.imageInput {
    text-align: center;
    margin: 1% 5%;
}

#resetButton {
    width: 105px;
    height: 37px;
    margin-left: 5.5rem;
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
    visibility: hidden;
    font-weight: bold;
    border-radius: 1px solid black;
}

#clickCounter {
    font-weight: bold;
}

#resetButton:hover {
    background-color: rgba(241, 245, 4, 0.7);
}

#gameBoard {
    border: 3px solid rgb(44, 32, 54);
    border-radius: 5px;
    min-width: 350px;
    border-collapse: collapse;
    margin-left: 5%;
    visibility: hidden;
}

td {
    width: 80px;
    height: 80px;
    border: 3px solid blueviolet;
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
}

#emptySlot {
    background-color: azure;
}